<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">


  <div fxFlex="40" *ngIf="dishselected">
     <mat-card>
        <mat-card-header>
          <mat-card-title><h3>{{dishselected.name | uppercase}}</h3></mat-card-title>
        </mat-card-header>
        <img  mat-card-image src={{dishselected.image}} alt={{dishselected.name}}>
        <mat-card-content><p>{{dishselected.description}}</p></mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>

        </mat-card-actions>
       </mat-card>
  </div>



  <div fxFlex="40" *ngIf="dishselected" class="full-width">
<h3>Comments</h3>
<mat-list-item *ngFor="let comment of dishselected.comments">
  <h4 mat-line>{{comment.comment}}</h4>
  <p matline>{{comment.rating}} stars</p>
  <p matline>{{comment.author}} {{comment.date | date:'mediumDate'}}</p>
</mat-list-item>


  <form noValidate [formGroup]="rateform" #rform="ngForm" (ngSubmit)="Submit()">
    <p>
      <mat-form-field>
        <input matInput formControlName="author" placeholder="Name" type="text">
        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
      </mat-form-field>
    </p>
    <table class="form-size">
      <td>
        <mat-slider formControlName="rating" thumbLabel tickInterval="1" step="1" min="1" max="5"></mat-slider>
      </td>
    </table>
    <p>
      <mat-form-field>
        <textarea matInput formControlName="comment" placeholder="Your Comment" rows="6"></textarea>
        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="rateform.invalid">Submit</button>
  </form>

  </div>

  <div [hidden]="dishselected">
    <mat-spinner></mat-spinner><h4>Loading....Please wait</h4>
  </div>

</div>
