<div class="container" fxLayout="column" fxLayoutgap="10px">
    <mat-card *ngIf="dishselected">
        <mat-card-header>
            <mat-card-title>
                <h3>{{dishselected.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{dishselected.image}}" alt="{{dishselected.name}}">
        <mat-card-content>
            <p>{{dishselected.description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button>share</button>
        </mat-card-actions>
    </mat-card>
</div>